<div class="todos">
  <form (submit)="addTodo()">
    <h1>Todos</h1>
    <input type="text" name="inputTodo" placeholder="Enter Todo..." class="todo-input" (input)="TodoInput($event)"
      [(ngModel)]="inputTodo">

    <input type="text" name="inputTododesc" placeholder="Enter Description..." class="tododesc-input"
      (input)="TododescInput($event)" [(ngModel)]="inputTododesc">

    <input type="submit" [disabled]="isDisable" value="Add Todo" class="todo-submit">

    <div class="notodos-msg" *ngIf="this.todos.length===0;">No Todos to Display.</div>

  </form>

  <table style="width:50%">
    <tr>
      <th>title</th>
      <th>description</th>
      <th>status</th>
    </tr>
    <tr *ngFor="let todo of todos; let i= index;" class="todo {{(todo.completed
    ? 'done' : '')}}" [ngStyle]="{'background-color': i==0 ? 'lime' : i==1 ? 'orange' :
      'tomato' }" class="content">
      <td (click)="descTodo(todo.content)" class="todo-cont">{{todo.content}}</td>
      <td> {{todo.description}} </td>
      <td>{{todo.completed}}</td>
      <button class="done" (click)=toggleDone(i)>done</button>
      <button class="delete" (click)=deleteTodo(i)>Remove</button>
    </tr>
  </table>


  <!-- <div *ngFor="let todo of todos; let i= index;" class="todo {{(todo.completed
    ? 'done' : '')}}">
    <div class="id">{{ i }}</div>
    <div [ngStyle]="{'background-color': i==0 ? 'lime' : i==1 ? 'orange' :
      'tomato' }" class="content">
      <span (click)="descTodo(todo.content)" class="todo-cont"> {{todo.content}} </span>
      <span> {{todo.description}}  </span>
      <span>status = {{todo.completed}}</span>
    </div>
    <button class="done" (click)=toggleDone(i)>done</button>
    <button class="delete" (click)=deleteTodo(i)>Remove</button>
  </div> -->
</div>
<!-- 
<h3>angularx-qrcode demo implementation</h3>
<qrcode #parent [qrdata]="qrdata" [size]="256" [level]="'M'"></qrcode>
<br>
<button (click)="saveAsImage(parent)">Download QR Code Image</button> -->



<!-- <label>
  Typing your data
<input type="text" (keyup)="change($event)"/>
</label>
<button type="button" class="btn btn-primary" (click)="generateQrCode()" style="margin-right:10px;">generate QrCode</button> -->